* {
	border: 1px red solid;
}

body {
	box-sizing: border-box;
	width: 95%;
	margin: auto;
	font-family: Helvetica, sans-serif;
}


.intro p {
	margin: 50px auto 20px;
	width: 400px;
}

.inputForm {
	margin: 20px auto 5px;
}


#sortable li {
	list-style: none;
}


li:hover {
	cursor: pointer;
}

.listclick {
	background-color: steelblue;
}

.hide {
	display: none;
}

.show {
	display: block;
}