/** {
	border: 1px red solid;
}*/

div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

body {
	box-sizing: border-box;
	font-family: Lato, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: Helvetica, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(rgba(244, 179, 80, 0.3), transparent), url('../img/notebook.jpeg');
	background-size: cover;
	background-repeat: repeat-y;
	box-sizing: border-box;

}


.wrapper {
	width: 100%;
	height: 100rem;
	background: -webkit-linear-gradient(rgba(244, 179, 80, 0.3), transparent), url('../img/notebook.jpeg');
	background-size: cover;
}

.intro {
	background-color: rgba(235, 149, 50, 0.75);
	height: 24rem;
	position: relative;
}

.warning {
	font-size: 2rem;
	font-family: Dosis, Helvetica, sans-serif;
	font-weight: bold;
	color: rgba(189, 28, 54, 1);
}

.title {
	margin: auto;
	position: absolute;
	font-family: Dosis, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 4.5rem;
	color: rgba(189, 28, 54, 1);
	top: 7rem;
	left: 0;
	bottom: 0;
	right: 0;
}

.title + h3 {
	margin: auto;
	position: absolute;
	color: rgb(44, 62, 80);
	top: 13rem;
	left: 0;
	right: 0;
	bottom: 0;
}



.completeMark {
 	cursor: pointer;
 	margin-right: 25px;
 	margin-left: -35px;
 	float: left;
 	display: inline-block;

 
}

.deleteMark {
	cursor: pointer;
	float: right;
	top: 0;
	margin-right: -30px;
	display: inline-block;
}



.btn {
	margin-top: 10px;
}

.row h3 {
		margin: auto;
		width: 100%;
}

.intro p {
	margin: 50px auto 20px;
	width: 80%;
	max-width: 400px;
	font-size: 1.5rem;
	color: grey;
}


.input {
	height: 150px;
}

input[type="text"] {
	color: rgb(44, 62, 80);
	font-family: inherit;
	font-size: 2rem;
}

input[type="submit"] {
	width: 70%;
	max-width: 275px;
	height: 50px;
	border-radius: 10px;
	margin-top: 15px;
	font-size: 2rem;
}

.input-field {
	height: 50px;
	border-radius: 10px;
}


.inputForm {
	margin: 20px auto 20px;
}



/* Completed tasks styles
==================================*/
.to-do {
	position: relative;
}

.tasks {
	background-color: rgba(253, 227, 167, 0.9);
	color: rgb(44, 62, 80);
	margin-bottom: 5px;
	border-radius: 10px;
	padding: 20px 40px 20px 40px;
	font-size: 1.8rem;
	text-align: justify;
	-webkit-transition: all 100ms ease;
}

ul#sortable {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
	cursor: pointer;
	list-style: none;
	width: 90%;
	margin: auto;
}



@media screen and (min-width: 565px) {
	.tasks {
		font-size: 2.5rem;
	}

	.input-field {
		height: 50px;
		width: 100%;
		border-radius: 10px;
	}
	
	input[type="submit"] {
		margin-left: 15px;

	}

}

@media screen and (min-width: 768px) {
	
	.form-control {
		width: 500px;
	}

	input[type="submit"] {
		margin-top: -1px;
		margin-left: 15px;
	}

}

/* Priority Styles 
==================================
.hot {
	color: #FFF;
	background-color: #E74C3C;
}

.medium {
 	color: #E87E04;
 	background-color: #FDE3A7;
}

.chill {
	color: #87D37C;
 	background-color: #C8F7C5
}
*/